body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url('https://images.prismic.io/mystique/b8694bf4-1d63-4e3f-a62c-5fdfb753d990_Rollercoaster.jpg?auto=compress%2Cformat&h=334.5&q=75&fit=crop&ar=14%3A11&fm=webp');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.appHeader {
	background-color: gray;
	text-align: center;
	margin: 15px;
	padding: 4rem;
	opacity: 75%;
}

.App {
	height: 60vh;
}

.coasterTitle{
  font-size: 5rem;
  font-family: 'Mochiy Pop One', sans-serif;
}

.searchInput{
  opacity: 90%; 
  width: 15rem;
  height: 2rem;
  font-size: 1rem;
  font-family: 'Mochiy Pop One', sans-serif;
  
}

.searchBtn{
  width: 120px;
  height: 2rem;
  color: white;
  background-color: red;
  margin: 15px;
  font-weight: 800;
  font-size: 14px;;
  font-family: 'Mochiy Pop One', sans-serif;
  
}

.parks {
	align-content: center;
	padding: 20px;
	margin: 20px auto 0 auto;
	width: 90%;
	border: 2px solid red;
}

.body {
	padding: 1rem;
	background-color: gray;
	margin: 15px;
	opacity: 0.6;
	height: 100%;
}

.parkPage{
	text-align: center;
	border: 15px;
	font-family: 'Mochiy Pop One', sans-serif;
	color: white;
	background-color: black;
}